<% n = 0 %>
<ul>
	<% @results.each do |result| %>
	<br>
  <% n += 1 %>
  <div id=<%= "#{n}" %>
  	<li>
      <%= render "record_info", :result => result %>
      <%= render "submit_form", :result => result %>
  	</li>
 	<br>
	<% end %>
</ul>
