@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	padding-top: 60px;
	padding-left: 10px;
	padding-right: 10px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

/* header */

#logo {
	float: left;
	padding-top: 5px;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	color: grey;
	&:hover{
		color: grey;
		text-decoration:none;
	}
}

