@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
	padding-top: 60px;
	padding-bottom: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

/* header */

#logo {
	float: left;
	padding-top: 5px;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	color: grey;
	&:hover{
		color: grey;
		text-decoration:none;
	}
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: grey;
  small {
  	float: left;
  }
  ul {
  	list-style: none;
  	float: right;
  	a {
  		color: #373737;
  		&:hover {
  			color: black;
  		}
  	}
  }
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid grey;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input{
	height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    list-style: none;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* jumbotron */
	.jumbotron {
		background: #000 asset-data-url("jumbotron_image.jpg");
		background-size: cover;
		color: grey;
		h1 {
		font-weight: bold;
		text-transform: uppercase;
	}
}