@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

/* header */

#logo {
	float: left;
	padding-top: 5px;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	color: grey;
	&:hover{
		color: grey;
		text-decoration:none;
	}
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  background-color: grey;
  small {
  	float: left;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid grey;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input{
	height: auto !important;
}

/* jumbotron */
	.jumbotron h1 {
		font-weight: bold;
		text-transform: uppercase;
	}