<footer class="footer navbar-fixed-bottom">
	<small>
	<div class='footer-logo'>
		<strong >Permanent Records</strong> | Track your tunes
	</div>
		<%= link_to "About", about_path %>
	</small>
</footer>